ul{
  list-style-type: none;  
}
div {
    border: 1px dotted;
    width: 500px;
    margin: 10px auto;
    height: 500px;
    padding: 10px;
}
.row_1, .row_2, .row_3 {
    display: flex;

}
.row_1 li, .row_2 li, .row_3 li{
    border: 1px solid brown;
    background-color: grey;    
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;
}

/* .row_2 li{
    margin: 5px;
    background-color: grey;    
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;
}

.row_3 li{
    margin: 5px;
    background-color: grey;    
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;
} */