div{
    width: 10px;
    height: 10px;
    background-color: salmon;

    margin: 5px;
    padding: 10px;
}

span{
    width: 100px;
    height: 100px;
    background-color: orange;

    padding: 10px;
}