body {
    font-family: "D2coding", Arial, Helvetica, sans-serif;
}

.main {
    color: darkmagenta;
}

.sub {
    background-color: chocolate;
}

#use {
    border
    border-collapse: ;
    font-weight: bold;
    font-size: 20px;
    background-color: coral;;
}