body {
    font-family: "NanumGothic:";
}

ul {
    list-style: none;
}

.male{
    background: greenyellow
}

.female{
    color: royalblue;
    background-color: silver;
}

#ceo {
    display: flex;
    justify-content: center;
}
